# Secrets
.env
.env.*local
*.key

# Build
target/
dist/
build/
node_modules/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.springBeans

# OS
.DS_Store
Thumbs.db

# Maven wrapper jar
.mvn/wrapper/maven-wrapper.jar
